*{
  padding: 0;
  margin: 0;
}
/* Top NavBar */
ul{
  list-style-type: none;
  padding-top: 20px;
}
a{
  color: #222222; 
  text-decoration: none;
  font-family: Arial, sans-serif;
}
#About, #Store{
  float: left;
  padding: 0px 5px 0px 15px;
  font: 14px;
  
  
}
#Gmail, #Images, #Img, #Signbtn{
  float: right;
}
/* Sign in btn styles */
#Signbtn{
  background-color: #1873E8;
  margin: 0px 8px;
  padding: 9px 23px;
  border-radius: 8px;
}
#Signbtn a{
  color: white;
}
#Img{
  padding: 8px;
} 
#Images, #Gmail{
  padding: 8px 15px;
}
/* Google logo styles */
#googlelogosec{
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
  height: 270px;
  
}
#googleimg{
  padding-top: 180px;
}
/* Search bar */
#search{
  display: flex;
  margin: auto;
  border-radius: 50px;
  width: 482px;
  height: 44px;
  margin-top: 20px;
  border: 1px solid lightgrey;
  
}

input{
  font-size: 100%;
  width: 90%;
  height: 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  
}
#search_img, #mic_img{
  height: 20px;
  width: 20px;
  padding:11px 5px;
}

#buttonsUnderneathSearchbar{
  text-align: center;
}

.undersearchbtn{
  background-color: #F8F9FA;
  margin: 11px 4px;
  padding: 0px 16px;
  height: 36px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* Footer */
.emptydiv{
  height: 200px;
}
footer > ul{
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  margin-top: 40px;
  padding:10px 20px 60px 20px;
}
footer > ul > li > a{
  color: #70757A;
}

